.DS_Store
/.idea/
/target/
/src/main/resources/static/**
/src/main/resources/templates/index.html

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.iml

/fe/node_modules/
/fe/dist/
/msm.iml
/LOG_PATH_IS_UNDEFINED/
